# Config files (examples saved are in .bk)
runner/src/config.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
vgcore.*

# osX
**/.DS_STORE

# intellij
**/.idea
**/.idea/*
**/cmake-build-debug/
**/cmake-build-release/
**.plist

# Ignore output files
!output/.empty
output/*

# Ignore compiled files.
**/obj/**
build/

# Ignore python execution files
**/__pycache__

# Experiment results
out/